h1{
    color: var(--gold);
    line-height: 1.5;
}
.introduccion h2 {
    color: var(--brown);
}
.introduccion .iniciar_sesion{
    background-color: var(--gold);
    color: var(--brown);
}

.introduccion .iniciar_sesion:hover{
    background-color:  var(--gold);
}