@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #06070eff;
  --brown: #3e1814ff;
  --gold: #ffbf00ff;
  --white: #f2f5f8ff;
  --green: #8fba3aff;
  --red: #f85a3eff;
  --gray: rgb(246, 247, 250);
}
 .navegacion{
  background-color: var(--black);
}

.navegacion .links a{
  color: var(--white);
  font-weight: 400;
  transition-property: color;
  transition-duration: 300ms;
}
.navegacion .links a:hover{
  color: var(--gold);
}
.navegacion .links .activo a{
  color: var(--gold);
}
.footer{
  background-color: var(--black);
} 