@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #06070eff;
  --brown: #3e1814ff;
  --ligthbrown: #392D2B;
  --gold: #ffbf00ff;
  --white: #f2f5f8ff;
  --green: #8fba3aff;
  --red: #f85a3eff;
  --gray: rgb(246, 247, 250);
}
 .navegacion{
  background-color: var(--black);
}

.navegacion .links a{
  color: var(--gold);
  font-weight: 700;
  transition-property: color;
  transition-duration: 300ms;
}
.navegacion .links a:hover{
  color: var(--white);
}
.navegacion .links .activo a{
  color: var(--white);
}
.footer{
  background-color: var(--black);
} 

.error404{
  color: var(--gold);
}
.brown{
  color: var(--brown);
}
.gold{
  color: var(--gold);
}
.bg-gold{
  background-color: var(--gold);
}
.bg-brown{
  background-color: var(--brown);
}
.bg-white{
  background-color: var(--white);
}
.bg-black{
  background-color: var(--black);
}